.index {
  padding: 40px;
}

.index-welcome {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

.index-status {
  margin-bottom: 40px;
  font-size: 28px;
  color: #666;
}

.index-btn {
  width: 200px;
  height: 80px;
  background-color: #ff4d4f;
  color: #fff;
  border-radius: 8px;
}
